<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>elody.otf</string>
		<string>Glafton-Demo.ttf</string>
		<string>venezula.ttf</string>
	</array>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.bengregory.Corn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>corn</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
